# Python virtual environment
backend/venv/

# Python cache
__pycache__/
*.py[cod]

# Environment variables
.env
.env.*

# Django
*.sqlite3
media/
staticfiles/

# Node
frontend/node_modules/
node_modules/

# Build files
frontend/dist/
frontend/build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db